{% extends "layout.html" %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('         {{ url_for('static', filename='img/home-bg.jpg') }}       ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>ADMIN PANEL</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="container">
            <h2>Upload File</h2>
            <form action="/uploader" method="post" enctype="multipart/form-data">
                <input type="file" name="img" />
                <input type="submit" name="submit" value="Submit"/>
            </form>
            <hr>
            <a href="/edit/0"><button class="btn btn-link">Add a new post</button></a>
            <hr>
            <h2>Edit Post</h2>            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Content</th>
                  <th>Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                    
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.content[0:60]}}...</td>
                    <td>{{post.timestamp}}</td>
                    <td><a href="/edit/{{post.id}}"><button type="button" class="btn">Edit</button></a></td>
                    <td><a href="/delete/{{post.id}}"><button type="button" class="btn">Delete</button></a></td>
                    
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{prev}}">Newer Posts &rarr;</a>
          <a class="btn btn-primary float-left" href="{{nex}}">&larr;  Older Posts</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock body %}